
@{
    ViewBag.Title = "ForgotPassword";
}

<h2>ForgotPassword</h2>

@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <hr />
        @if (ViewBag.Message == "Reset password link has been sent to your email id.")
        {
            <div class="text-success">
                @ViewBag.Message
            </div>
            <h3>Please check your email to reset your password.</h3>
        }
        else
        {
            <div class="text-success">
                @ViewBag.Message
            </div>
           
            <div class="form-group">
                @*<label class="control-label col-md-2">UserName</label>
                @Html.TextBox("UserName", "", new { @class = "form--control" })*@
                <label class="control-label col-md-2">Email ID</label>
                @Html.TextBox("EmailID", "", new { @class = "form--control" })
                @*@Html.ValidationSummary()
                @Html.TextBox("EmailID", "", new { @class = "form--control valid", @data_val = "true", @data_val_required = "Email Address is required." })*@
            </div>
            <div class="form-group">
                <div class="ccl-md-offset-2 col-md-10">
                    <input type="submit" value="Submit" class="btn btn-success" />
                </div>
            </div>
        }

    </div>
}
<div>
    @Html.ActionLink("Back to Login", "Login", "Login")
</div>



